<h3 *ngIf="message!=null" style="color:tomato">
  {{message}}
</h3>
<br>

<div class="container">
  <h2 style="color:blue ; text-align: center">List of Products</h2>
  <hr>
  <h3 *ngIf="merchent">Merchent Logged in</h3>

  <div class="row" style="border: solid 1px;border-radius:10px; padding:10px; margin:5px" *ngFor="let p of products">
    <div class="col-3" (click)="select(p.productDetails.productId)">
      <img src="{{p.productDetails.image}}" style="height: 135px; width: 135px" class="img-thumbnail rounded slider-size img-product-size">
    </div>

    <div class="col-3" (click)="select(p.productDetails.productId)">
      <span>{{p.productDetails.name | titlecase}}</span>
      <br>
      <span style="color: red">MRP {{p.productDetails.mrp | currency:"INR"}}</span>
      <br>
      <span style="color: green">Our Price {{p.productDetails.mrp-p.productDetails.discount | currency:"INR"}}</span>
      <br>
      <span>Discount {{p.productDetails.discount/(p.productDetails.mrp-p.productDetails.discount) | percent}}</span>
    </div>

    <div class="col-3" (click)="select(p.productDetails.productId)">
      <!-- <p *ngIf="expression;else templateName">{{availability}}</p> -->
      <span>by {{p.productDetails.brand | uppercase}}</span>
      <br>
      <span>Colour: {{p.productDetails.colour}}</span>
      <br>
      <span>Varient: {{p.productDetails.varient}}</span>
      <br>
      <span style="color: lawngreen" *ngIf="p.productDetails.inStock>0">Available</span>
      <span style="color: red" *ngIf="p.productDetails.inStock<=0">Not Available</span>
    </div>

    <div class="col-3 text-center">
      <button type="button" class="btn-sm btn-primary" (click)="addToCart(p.productDetails.productId)" style="margin-top: 5%">Add
        to Cart</button>
      <button type="button" class="btn-sm btn-link" (click)="addToWishlist(p.productDetails.productId)" style="margin-top:2%">Add
        to Wishlist</button>
      <button *ngIf="merchent" type="button" class="btn-sm btn-link" (click)="sell(p.productDetails.productId)" style="margin-top:2%">Sell
        with us!</button>
    </div>
  </div>
  <button *ngIf="merchent" type="button" class="btn btn-link" (click)="addProduct()" style="float: right">Add another product!</button>
  <hr>
</div>